/* ! Tooltip styles */
/* :root {
  --tooltip-bg-color: hsl(0, 0%, 10%);
  --tooltip-text-color: hsl(0, 0%, 90%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --tooltip-bg-color: hsl(0, 0%, 95%);
    --tooltip-text-color: hsl(0, 0%, 10%);
  }
}

.zero-tooltip,
.zero-tooltip-top {
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;

  width: fit-content;
  max-width: 120px;
  background-color: var(--tooltip-bg-color);
  color: var(--tooltip-text-color);
  border: 1px solid black;
  padding-block: 0.325rem;
  padding-inline: 0.625rem;
  border-radius: 4px;

  opacity: 0;

  transition: opacity 200ms;
  transition-delay: 100ms;
  pointer-events: none;
}

.zero-tooltip.show,
.zero-tooltip-top.show {
  opacity: 1;
}

.zero-tooltip::before,
.zero-tooltip-top::before {
  content: '';
  position: absolute;
  left: 50%;
  z-index: 1;
  width: 0;
  height: 0;
  --border-size: 7px;

  border-right: var(--border-size) solid transparent;
  border-left: var(--border-size) solid transparent;
}

.zero-tooltip::before {
  top: 0;
  transform: translate(-50%, -100%);
  border-top: var(--border-size) solid transparent;
  border-bottom: var(--border-size) solid var(--tooltip-bg-color);
}

.zero-tooltip-top::before {
  top: 100%;
  transform: translate(-50%, 0);
  border-top: var(--border-size) solid var(--tooltip-bg-color);
  border-bottom: var(--border-size) solid transparent;
} */

/* ! Ripple styles */
/* .zero-ripple {
  position: relative;
  overflow: hidden;
}

.zero-ripples {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: var(--ripples-color);
  z-index: 5;
  border-radius: 50%;
  opacity: 1;
  pointer-events: none;
}

.zero-ripples.expand {
  animation: expand-ripple var(--ripples-duration) linear forwards;
}

@keyframes expand-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: var(--ripples-opacity);
  }
  100% {
    width: var(--ripples-size);
    height: var(--ripples-size);
    opacity: 0;
  }
} */
